<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather App</title>
  <link rel="icon" href="/img/weather.ico">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  {{>header}}
  <main>
    <div>
      <img class='my-image' src="/img/icon.png">
    </div>
    <p>You can find more projects on my <a href="https://github.com/toypiano">github</a> page.</p>
  </main>
  
  {{>footer}}
</body>

</html>