<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather</title>
  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  {{>header}}
  <main>
      <div class="img-wrapper">
        <a class="avatar" href="https://github.com/toypiano" target="_blank">
         <img src="./assets/toypiano.png" alt="toypiano">
        </a>
      </div>    
    <div class="intro">
      <p>Hi there! My name is Sid Hayoun Lee.</p> 
      <p>I am a web developer/ pianist from Seoul, South Korea. </p>
      <p>I like to create things that touches people.</p>
      <br>
      <p>How was your day?</p>
    </div>

  </main>
  {{>footer}}

  <script src="/js/navigation.js"></script>
</body>
</html>