<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  {{>header}}
  <main>
    <form class="address-form">
      <label for="weather-input">Enter the address to get your weather!</label>
      <input type="text" name="address" id="weather-input" placeholder="Seoul" required>
      <button>Search</button>
    </form>
    <div class="weather-display">
      <h2 class="location"></h2>
      <p class="time"></p>
      <p class="weather-info"></p>
    </div>
  </main>
  {{>footer}}

  <script src="/js/navigation.js"></script>
  <script src="/js/script.js"></script>
</body>
</html>