<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  {{>header}}
  <main>
    <form class="address-form">
      <label for="weather-input">Enter the address to get your weather!</label>
      <input type="text" id="weather-input" placeholder="Seoul">
      <button>Search</button>
    </form>
  </main>
  {{>footer}}
</body>
</html>